name: Release

on:
  workflow_call:
    inputs:
      bump_type:
        description: 'Bump type'
        required: true
        default: 'patch'
        type: string

permissions:
  id-token: write
  contents: write

jobs:
  publish:
    name: Publish
    needs: validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          token: ${{ secrets.PAT_TOKEN }}

      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Build
        run: npm run build

      - name: Verify
        run: npm run verify

      - name: Config Git
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Run release
        run: npm run release -- --ci -i ${{ github.event.inputs.bump_type }}
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
